# .gitignore
Dataset/raw/
Dataset/figures
Dataset/dataset_stats.json
Dataset/processed/
*.zip
__pycache__/
*.pyc
.ipynb_checkpoints/
*.pth          # model weights (also large)
*.pt
runs/          # training logs