# Virtual environment
venv/

# Data — never commit
data/
Dataset/raw/
Dataset/Warp-C/
Dataset/Warp-D/
Dataset/Warp-S/
Dataset/assets/

# Model weights
*.pth
*.pt

# Experiment results
experiments/results/

# Jupyter checkpoints
.ipynb_checkpoints/
__pycache__/
*.pyc

# OS
Thumbs.db
.DS_Store